# Python
__pycache__/
*.pyc
.venv/
venv/

# MATLAB temporary files
*.asv
*.m~
*.mex*

# Large generated data
data/*.dat

# Model checkpoints
results/*.pt

# Result dat files
results/*.dat

# Logs
*.log

# OS files
.DS_Store
Thumbs.db